#/*
!/*/src/
!/*/pom.xml
!/*/init/
!/*/readme.txt



/*/.mvn/
/*/mvnw
/*/mvnw.cmd
/*/target/

/*/demo.iml
/*/*.iml






*.class
*.iml
.idea
demo.iml
target
catalina.home_IS_UNDEFINED
.settings
.project
.classpath
.tern-project
spider

